* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    width: 500px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
}

img {
    height: 31px;
    width: 166px;
    margin: 1.5rem 0;
    user-select: none;
}

form {
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
}

form div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#create-button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid #303669;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    outline: none;
    background-color: #303669;
    color: white;
    cursor: pointer;
    transition: all 200ms;
    font-weight: 600;
}

#create-button:hover {
    background-color: white;
    color: #303669;
    user-select: none;
}

input {
    outline: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-color: #c0c0c0;
}

#url {
    border-top-left-radius: 1rem;
    border: 1px solid #c0c0c0;
    border-bottom: none;
    border-right: none;
}

#password {
    border-bottom-left-radius: 1rem;
    border: 1px solid #c0c0c0;
    border-right: none;
}

.result-wrapper {
    display: flex;
    width: 100%;
    margin-bottom: 2rem;
}

#result {
    border: 1px solid #c0c0c0;
    flex-grow: 1;
    border-top-left-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
    border-right: none;
}

#copy-button {
    user-select: none;
    background-color: #303669;
    color: white;
    padding: 0.5rem 1rem;
    border: 1px solid #303669;
    border-top-right-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
    cursor: pointer;
    font-weight: 600;
    transition: all 200ms;
    outline: none;
    font-size: 1rem;
}

#copy-button:hover {
    background-color: white;
    color: #303669;
    user-select: none;
}